
.m-aside {
    &__blog {
        float: right;
        width: 100%;
        max-width: 280px;
        padding-left: 40px;
        display: none;

        @media screen and (min-width: $tablet-size) {
            display: block;
        }

        @media screen and (min-width: $middle-size) {
            max-width: 380px;
            padding-left: 120px;
        }


        &__box {
            &:not(:last-of-type) {
                margin-bottom: 50px;
            }

            .dd-container-title {
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
                text-transform: uppercase;
                color: $dark1;
            }
        }
    }
}