
.m-banner {
    width: 100%;
    display: inline-block;
    margin: 0 !important;
    vertical-align: top;
    overflow: hidden;

    &--home {
        .m-banner {
            &__item {
                background-repeat: no-repeat;
                background-position: 10% center;
                background-size: cover;
                float: left;
                height: 520px;

                @media screen and (max-width: $mobile-size -1px) {
                    background-image: none !important;
                }

                @media screen and (min-width: $mobile-size) {
                    height: 70vw;
                }

                @media screen and (min-width: $tablet-size) {
                    height: 565px;
                }

                .dd-img {
                    width: 100%;
                    height: 520px;
                    object-fit: cover;
    
                    @media screen and (min-width: $mobile-size) {
                        display: none;
                    }
                }
            }
        }

        .slick-dots {
            position: relative;
            bottom: unset;
            display: inline-block;
            padding: 20px 0 10px 0;
            margin-bottom: 40px;

            li {
                &.slick-active button {
                    background-color: $blue3;
                }
                
                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    background-color: $light1;

                    &:before {
                        display: none !important;
                    }
                }
            }
        }
    }
}