
.m-button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    background-color: $green1;
    color: $colorWhite;
    transition: all 300ms linear;

    &--simple {
        background-color: transparent;
        border: 1px solid $colorWhite;
        font-size: 18px;
        line-height: 48px;
        border-radius: 5px;
        max-width: 180px;
        text-transform: uppercase;
    }

    &--assertive {
        background-color: $colorWhite;
        color: $colorBlack;
        text-transform: uppercase;
        max-width: 265px;
        font-size: 20px;
        font-weight: bold;
        line-height: 60px;
    }

    &--default {
        max-width: 265px;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 50px;
        font-weight: bold;

        &:hover {
            background-color: $dark-green1;
        }
    }

    &--primary {
        max-width: 240px;
        font-size: 20px;
        line-height: 50px;
        font-weight: bold;
        background-color: $green2;
    }
    
    &--custom-primary {
        border-radius: 5px;
        background-color: $blue2;
        font-size: 20px;
        line-height: 50px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .dd-icon {
            font-size: 24px;
        }
    }

    &--extra {
        max-width: 200px;
        line-height: 40px;
        border-radius: 40px;
        background-color: $blue3;
        text-transform: uppercase;
        font-weight: bold;

        &.dd-big {
            max-width: 250px;
        }

        &:hover {
            background-color: $blue2;
        }
    }

    &--card {
        max-width: 240px;
        background-color: $colorWhite;
        border-radius: 5px;
        line-height: 52px;
        font-size: 18px;
        color: $colorBlack;
        text-align: left;
        padding: 0 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--custom {
        max-width: 220px;
        display: flex;
        align-items: center;
        text-align: left;
        padding: 4px;

        @media screen and (min-width: $middle-size) {
            max-width: 240px;
        }

        &:hover {
            background-color: $dark-green1;
        }

        .dd-label {
            font-size: 18px;
            line-height: 25px;
            display: block;
            font-weight: 400;

            @media screen and (min-width: $middle-size) {
                font-size: 20px;
                line-height: 27px;
            }
        }

        .dd-phone {
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            display: block;

            @media screen and (min-width: $middle-size) {
                font-size: 22px;
                line-height: 30px;
            }
        }

        .dd-icon {
            font-size: 30px;
            padding: 0 15px;
        }
    }

    &--short {
        background-color: $blue2;
        font-size: 14px;
        line-height: 28px;
        border-radius: 40px;
        max-width: 115px;
    }

    &.dd-tiny {
        font-weight: bold;
        max-width: 190px;
    }
}