
.m-card {
    &--blog {
        margin-bottom: 30px;

        .dd-link {
            width: 100%;
            display: inline-block;
            background-color: $colorWhite;
            border-radius: 5px;
            box-shadow: 0px 1px 7px rgba($colorBlack, 0.15);
            overflow: hidden;
            height: 100%;
        }

        .dd-content {
            padding: 20px;
        }

        .dd-title {
            font-weight: bold;
            font-size: 18px;
            color: $dark2;
            line-height: 25px;
            margin: 0 0 12px 0;
        }

        .dd-thumb img {
            width: 100%;
            height: 176px;
            object-fit: cover;
        }

        .dd-description {
            color: $dark2;
            line-height: 22px;
            margin-bottom: 20px;
        }

        .dd-date {
            font-size: 14px;
            color: $light5;
        }
    }

    &--produto {
        .dd-link {
            width: 100%;
            display: inline-block;
            background-color: $colorWhite;
            border-radius: 5px;
            box-shadow: 0 1px 7px rgba($colorBlack, 0.15);
            overflow: hidden;
            padding: 20px;
            height: 100%;

            &:hover {
                .m-button--primary {
                    background-color: $dark-green2;
                }
            }
        }

        .dd-thumb {
            img {
                width: 100%;
                height: 170px;
                object-fit: contain;
            }
        }

        .dd-title {
            margin: 20px 0 10px;
            color: $dark2;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
        }

        .dd-description {
            color: $dark2;
        }

        .m-button {
            margin-top: 30px;
        }
    }

    &--link-page {
        .dd-link {
            width: 100%;
            display: inline-block;
            border-radius: 5px;
            box-shadow: 0 1px 7px rgba($colorBlack, 0.15);
            overflow: hidden;
            padding: 20px;
            height: 100%;
            background-color: $colorBlack;
        }

        .dd-title {
            color: $colorWhite;
            font-size: 22px;
            line-height: 30px;
            font-weight: bold;
            margin-bottom: 32px;
        }
    }


    &--certificates {
        line-height: 26px;
    }

    
    &--service {
        .dd-col {
            width: 50%;
            float: left;
        }
        
        .dd-link {
            width: 100%;
            display: inline-block;
        }

        .dd-title {
            font-weight: bold;
            font-size: 36px;
            line-height: 40px;
            text-transform: uppercase;
            color: $dark2;
            margin-bottom: 15px;
        }

        .dd-description {
            font-size: 18px;
            line-height: 25px;
            color: $dark3;
        }

        .m-button {
            margin-top: 40px;
        }
    }

    &--produto-custom {
        .dd-content {
            width: 100%;
            display: inline-block;
            background-color: $colorWhite;
            border-radius: 5px;
            box-shadow: 0 1px 7px rgba($colorBlack, 0.15);
            overflow: hidden;
            padding: 20px;
            height: 100%;
        }

        .dd-thumb {
            img {
                width: 100%;
                height: 170px;
                object-fit: contain;
            }
        }

        .dd-title {
            margin: 20px 0 10px;
            color: $dark2;
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
        }

        .dd-description {
            color: $dark2;
        }

        .m-button {
            margin-top: 30px;
        }
    }


    &--produto-short-custom {
        text-align: center;

        .dd-content {
            width: 100%;
            display: inline-block;
            background-color: $colorWhite;
            border-radius: 5px;
            box-shadow: 0 1px 7px rgba($colorBlack, 0.15);
            overflow: hidden;
            padding: 20px 12px;
            height: 100%;
        }

        .dd-thumb {
            img {
                width: 100px;
                height: 40px;
                object-fit: contain;
            }
        }

        .dd-title {
            margin: 20px 0 5px;
            color: $dark2;
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
        }

        .dd-description {
            color: $dark2;
            font-size: 14px;
            line-height: 17px;
        }

        .m-button {
            margin-top: 10px;
        }
    }


    &--blog-list {
        width: 100%;
        display: inline-block;

        .dd-img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            margin-bottom: 20px;

            @media screen and (min-width: $mobile-size) {
                height: 320px;
            }
        }

        .dd-title {
            font-size: 24px;
            line-height: 30px;
            color: $dark1;
            margin-bottom: 20px;

            @media screen and (min-width: $mobile-size) {
                font-size: 26px;
                line-height: 35px;
            }
        }

        .dd-description {
            color: $dark1;
            line-height: 22px;
            margin-bottom: 20px;
        }

        .dd-link {
            color: $blue2;
            text-decoration: underline !important;
        }

        .dd-label {
            font-size: 12px;
            color: $dark1;
        }

        .dd-content {
            width: calc(100% - 185px);
            float: left;
        }

        .dd-share {
            width: 185px;
            float: right;
            display: flex;
            align-items: center;

            @media screen and (max-width: $mobile-size - 1px) {
                width: 100%;
                margin-top: 20px;
            }
            
            ul {
                list-style: none;
                display: flex;
                margin-left: 20px;
                align-items: baseline;

                li:first-child a {
                    font-size: 20px;
                }

                li:not(:last-child) {
                    margin-right: 15px;
                }

                a {
                    color: $light5;
                    display: flex;
                }
            }
        }

        .dd-date {
            float: left;

            @media screen and (max-width: $mobile-size - 1px) {
                width: 100%;
                margin-bottom: 20px;
                padding-right: 20px;
            }
        }

        .dd-categories {
            float: left;
            padding: 0 20px;

            @media screen and (max-width: $mobile-size - 1px) {
                width: 100%;
                padding: 0 20px 0 0;
            }
        }

        .dd-text {
            font-weight: 600;
        }

        .dd-list span {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}