

.m-form {
    margin: 20px 0;

    &__input {
        width: 100%;
        height: 60px;
        display: inline-block;
        position: relative;
        background-color: $colorWhite;
        border: 1px solid $light6;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 20px;

        &.custom-placeholder {
            @include placeholder($dark3);
        }

        &--textarea {
            height: 150px;

            .dd-textarea {
                width: 100%;
                height: 130px;
                resize: none;
                @include placeholder($dark3);
            }
        }

        &.is-focused {
            .dd-label {
                font-size: 12px;
                line-height: 16px;
                transform: translateY(-10px);
            }

            .dd-input {
                height: 20px;
                margin-top: 20px;
            }
        }

        .dd-label {
            font-size: 16px;
            color: $dark3;
            position: absolute;
            top: 10px;
            bottom: 10px;
            position: absolute;
            margin: auto;
            height: 20px;
            transition: all 100ms linear;
            cursor: text;
        }

        .dd-input {
            width: 100%;
            height: 40px;
            transition: all 100ms linear;
        }
    }

    .dd-submit {
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        color: $colorWhite;
        display: inline-block;
        position: relative;
        background-color: $green1;
        border-radius: 5px;
        transition: all 300ms linear;

        &:hover {
            background-color: $dark-green1;
        }
    }
}