
.m-widget {
    &__categorias {
        .dd-list {
            width: 100%;
            list-style: none;
            padding: 10px 20px;
            margin: 10px 0;
            border-top: 1px solid $light1;
            border-bottom: 1px solid $light1;

            li {
                &:not(:first-child) {
                    border-top: 1px solid $light1;
                }

                a {
                    width: 100%;
                    display: inline-block;
                    padding: 10px 25px 10px 0;
                    color: $colorBlack;
                    position: relative;

                    &:before {
                        content: '>';
                        display: inline-block;
                        position: absolute;
                        right: 5px;
                        font-family: monospace;
                        font-size: 26px;
                        top: 4px;
                    }
                }
            }
        }
    }


    &__socials {
        nav {
            padding: 10px 0;
            margin: 10px 0;
            border-top: 1px solid $light1;
            border-bottom: 1px solid $light1;
        }

        .dd-socials {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 5px 20px;

            li {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }

            a {
                display: flex;
                font-size: 40px;
                color: $blue3;
            }
        }
    }


    

}