
html {
  font-size: #{$fontSize}px;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  color: $colorBlack;
  height: auto;
  width: 100%;
  // max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  transition: margin .15s linear;
  font-family: $fontPrimary;
  font-weight: 400;
  overflow-x: hidden;

  &.menu-mode {
    height: 100vh;
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.no-transform {
  text-transform: unset !important;
}

a {
  text-decoration: none;
  transition: color .15s linear;

  &:hover, &:active, &:visited, &:focus {
  }
}

// Custom placeholder
::-webkit-input-placeholder {
  color: $colorBlack;
}

:-moz-placeholder {
  color: $colorBlack;
}

::-moz-placeholder {
  color: $colorBlack;
}

:-ms-input-placeholder {
  color: $colorBlack;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.m-ajax-list {
  display: flex;
  flex-wrap: wrap;
}

.dd-mtop {
  padding-top: 90px;
}

.dd-custom-nav-arrows {
  width: 90%;
  margin: 0 auto;
  background-color: $colorWhite;
  box-shadow: 0px 1px 4px rgba($colorBlack, 0.15);
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  @media screen and (min-width: $mobile-size) {
    display: none;
  }

  .dd-label {
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: $blue1;
  }

  .dd-icon {
    color: $blue1;
    font-size: 10px;
  }
}