/**
 *  Fonts
 */

$fontPath: '../fonts/';


@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-BoldItalic.eot');
  src: url($fontPath + 'OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-BoldItalic.woff2') format('woff2'),
      url($fontPath + 'OpenSans-BoldItalic.woff') format('woff'),
      url($fontPath + 'OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-ExtraBold.eot');
  src: url($fontPath + 'OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-ExtraBold.woff2') format('woff2'),
      url($fontPath + 'OpenSans-ExtraBold.woff') format('woff'),
      url($fontPath + 'OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-Light.eot');
  src: url($fontPath + 'OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-Light.woff2') format('woff2'),
      url($fontPath + 'OpenSans-Light.woff') format('woff'),
      url($fontPath + 'OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-Bold.eot');
  src: url($fontPath + 'OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-Bold.woff2') format('woff2'),
      url($fontPath + 'OpenSans-Bold.woff') format('woff'),
      url($fontPath + 'OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-SemiBold.eot');
  src: url($fontPath + 'OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-SemiBold.woff2') format('woff2'),
      url($fontPath + 'OpenSans-SemiBold.woff') format('woff'),
      url($fontPath + 'OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-LightItalic.eot');
  src: url($fontPath + 'OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-LightItalic.woff2') format('woff2'),
      url($fontPath + 'OpenSans-LightItalic.woff') format('woff'),
      url($fontPath + 'OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-Italic.eot');
  src: url($fontPath + 'OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-Italic.woff2') format('woff2'),
      url($fontPath + 'OpenSans-Italic.woff') format('woff'),
      url($fontPath + 'OpenSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-SemiBoldItalic.eot');
  src: url($fontPath + 'OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-SemiBoldItalic.woff2') format('woff2'),
      url($fontPath + 'OpenSans-SemiBoldItalic.woff') format('woff'),
      url($fontPath + 'OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-Regular.eot');
  src: url($fontPath + 'OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-Regular.woff2') format('woff2'),
      url($fontPath + 'OpenSans-Regular.woff') format('woff'),
      url($fontPath + 'OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url($fontPath + 'OpenSans-ExtraBoldItalic.eot');
  src: url($fontPath + 'OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url($fontPath + 'OpenSans-ExtraBoldItalic.woff2') format('woff2'),
      url($fontPath + 'OpenSans-ExtraBoldItalic.woff') format('woff'),
      url($fontPath + 'OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


// Icomoon
@font-face {
  font-family: 'icomoon';
  src: url($fontPath + 'icomoon.eot?9vi7fr');
  src: url($fontPath + 'icomoon.eot?9vi7fr#iefix') format('embedded-opentype'),
    url($fontPath + 'icomoon.ttf?9vi7fr') format('truetype'),
    url($fontPath + 'icomoon.woff?9vi7fr') format('woff'),
    url($fontPath + 'icomoon.svg?9vi7fr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dropdown:before {
  content: "\e911";
}
.icon-share-email:before {
  content: "\e90e";
}
.icon-share-twitter:before {
  content: "\e90f";
}
.icon-share-facebook:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90c";
}
.icon-arrow-left {
  display: inline-block;
  transform: rotateY(180deg);

  &:before {
    content: "\e90b";
  }
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-close {
  display: inline-block;
  transform: rotateZ(45deg);

  &:before {
    content: "\e90a";
  }
}
.icon-plus:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e908";
}
.icon-email .path1:before {
  content: "\e900";
  color: rgb(51, 51, 51);
}
.icon-email .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}