// Fontes
$fontSize: 16;
$fontPrimary: 'Open Sans', sans-serif;

// Paths
$imagePath: '../images';

// Cores
$colorBlack: #000;
$colorWhite: #fff;

// Reds
$red1: #DB3939;
$red2: #F15922;

// Yellow
$yellow1: #FFD600;
$yellow2: #FFFC31;

// Blues
$dark-blue1: #084C61;
$blue1: #0054D2;
$blue2: #007CE3;
$blue3: #29D6EE;

// Greens
$green1: #41CB70;
$green2: #23D9B6;
$dark-green1: #189E46;
$dark-green2: #00A989;

// Darks
$dark1: #191919;
$dark2: #393E41;
$dark3: #6E6E6E;
$dark4: #121212;

// Lights
$light1: #E6E8E6;
$light2: #F6F7EB;
$light3: #F5F5F5;
$light4: #D4D4D4;
$light5: #B2B2B2;
$light6: #C4C4C4;


// Breakpoints
$large-size: 1180px;
$middle-size: 1024px;
$tablet-size: 768px;
$mobile-size: 540px;