
.l-container {
    &__wrapper {
        width: 100%;
        max-width: $large-size;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__with-sidebar {
        width: 100%;
        display: flex;
        vertical-align: top;

        @media screen and (min-width: $mobile-size) {
            padding-bottom: 80px;
        }
    }

    &__intro {
        width: 100%;
        display: inline-block;
        padding-bottom: 50px;

        &__list {
            @media screen and (max-width: $middle-size - 1px) {
                max-width: 485px;
                margin: 0 auto;
            }
        }

        &__row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;

            &:nth-child(even) {
                @media screen and (min-width: $middle-size) {
                    flex-direction: row-reverse;
                }
            }

            &:nth-child(odd) {
                .l-container__intro__col--thumb {
                    @media screen and (min-width: $middle-size) {
                        text-align: right;
                    }
                }
            }

            @media screen and (max-width: $middle-size - 1px) {
                flex-direction: column-reverse;

                &:not(:last-of-type) {
                    margin-bottom: 60px;
                }
            }
        }

        &__col {
            width: 100%;
            float: left;

            @media screen and (min-width: $middle-size) {
                width: 50%;
            }

            &--thumb {
                @media screen and (max-width: $middle-size - 1px) {
                    text-align: center;
                }
            }
        }

        .dd-title {
            font-weight: bold;
            text-transform: uppercase;
            color: $dark2;
            font-size: 24px;
            line-height: 33px;

            @media screen and (min-width: $tablet-size) {
                font-size: 46px;
                line-height: 60px;
            }
        }

        .dd-subtitle {
            color: $dark2;
            font-size: 18px;
            line-height: 28px;

            @media screen and (min-width: $tablet-size) {
                font-size: 25px;
                line-height: 34px;
            }
        }

        .dd-description {
            margin: 30px 0;
        }
    }

    &__services {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        position: relative;
        background-color: $yellow1;
        padding: 30px 0 0;

        @media screen and (min-width: $tablet-size) {
            margin-top: 55px;
            padding: 30px 0;
        }

        @media screen and (min-width: $middle-size) {
            margin-top: 150px;
        }

        &__content {
            @media screen and (max-width: $tablet-size - 1px) {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .dd-img {
            object-fit: contain;
            margin-top: 30px;

            @media screen and (min-width: $tablet-size) {
                margin-top: 0;
                position: absolute;
                bottom: 0;
                width: 500px;
                height: 340px;
                right: 56%;
            }
        }

        .dd-content {
            float: right;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            @media screen and (min-width: $tablet-size) {
                width: 56%;
            }

            .dd-info {
                float: left;
                width: 100%;
                margin-bottom: 20px;

                @media screen and (min-width: $tablet-size) {
                    padding-right: 50px;
                }

                @media screen and (min-width: $middle-size) {
                    width: calc(100% - 265px);
                    margin-bottom: 0;
                }
            }

            .m-button {
                float: right;
            }
        }

        .dd-obs {
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: $dark4;
        }

        .dd-title {
            font-weight: bold;
            font-size: 36px;
            color: $dark4;
            line-height: 42px;
        }

        .dd-description {
            line-height: 25px;
            font-size: 18px;
            color: $dark4;
            margin-top: 15px;
        }
    }

    &__about {
        padding: 60px 0;

        @media screen and (min-width: $tablet-size) {
            padding: 100px 0;
        }

        &__content {
            display: flex;
            align-items: center;

            @media screen and (max-width: $tablet-size - 1px) {
                flex-wrap: wrap;
            }
        }
        
        .dd-img {
            width: 100%;
            margin-bottom: 30px;

            @media screen and (min-width: $tablet-size) {
                width: 80%;
                padding-right: 50px;
                position: absolute;
                left: -30%;
                margin-bottom: 0;
            }

            @media screen and (min-width: $middle-size) {
                width: 60%;
                position: relative;
                left: unset;
            }
        }

        .dd-info {
            width: 100%;

            @media screen and (min-width: $tablet-size) {
                padding-left: 50%;
            }

            @media screen and (min-width: $middle-size) {
                width: 40%;
                padding-left: 0;
            }
        }

        .dd-obs {
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            color: $dark4;
        }

        .dd-title {
            font-weight: bold;
            font-size: 36px;
            color: $dark4;
            line-height: 42px;
        }

        .dd-description {
            line-height: 25px;
            font-size: 18px;
            color: $dark4;
            margin: 15px 0 30px 0;
        }
    }


    &__blog {
        padding-bottom: 10px;

        @media screen and (min-width: $tablet-size) {
            padding-bottom: 80px;
        }

        #blogPosts {
            width: 100%;
            display: inline-block;
            overflow: hidden;
        }

        &__header {
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid $light4;
            padding-bottom: 5px;
            margin-bottom: 40px;

            .dd-title {
                font-weight: bold;
                line-height: 36px;
                font-size: 22px;
                color: $dark2;
                width: calc(100% - 200px);
                float: left;
            }

            .dd-link {
                text-align: center;
                float: right;

                @media screen and (max-width: $tablet-size - 1px) {
                    padding-top: 8px;
                }

                span {
                    font-weight: bold;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $blue2;
                    display: none;
                    vertical-align: middle;

                    @media screen and (min-width: $tablet-size) {
                        display: inline-block;
                    }
                }

                .dd-icon {
                    margin-left: 10px;
                    color: $blue2;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 22px;
                }
            }
        }

        &__content {
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }

        .m-card--blog {
            width: 295px;
            padding: 0 15px;
            float: left;
        }
    }


    &__banner-extra {
        text-align: center;
        margin: 20px 0 60px;

        @media screen and (max-width: $mobile-size - 1px) {
            display: none;
        }
    }

    &__certificates {
        padding-bottom: 50px;
        text-align: center;

        .dd-container-title {
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 40px;

            @media screen and (min-width: $mobile-size) {
                font-size: 36px;
            }
        }

        &__list {
            width: 100%;
            display: inline-block;
            max-width: 980px;
            margin: 0 auto;

            .slick-dots {
                position: relative;
                bottom: unset;
                display: inline-block;
                padding: 20px 0 10px 0;
    
                li {
                    &.slick-active button {
                        background-color: $blue3;
                    }
                    
                    button {
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                        background-color: $light1;
    
                        &:before {
                            display: none !important;
                        }
                    }
                }
            }
        }


        .m-card--certificates {
            width: 40%;
            float: left;
            padding: 0 15px;

            &:last-of-type {
                float: right;
            }

            .dd-thumb {
                margin-bottom: 20px;
            }

            .dd-img {
                width: 185px;
                height: 185px;
                object-fit: contain;
            }
        }
    }

    &__partners {
        text-align: center;
        width: 100%;
        display: inline-block;
        padding: 50px 0 100px;

        &__title {
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 40px;
            text-transform: uppercase;
        }

        &__carousel {
            position: relative;

            .slick-track {
                display: flex;
                align-items: center;
            }

            .slick-dots {
                position: relative;
                bottom: unset;
                display: inline-block;
                margin-top: 40px;
    
                li {
                    &.slick-active button {
                        background-color: $blue3;
                    }
                    
                    button {
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                        background-color: $light1;
    
                        &:before {
                            display: none !important;
                        }
                    }
                }
            }

            .dd-item {
                width: 254px;
                height: 122px;
                padding: 10px;
                display: flex;
                float: left;

                .dd-img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &__location {
        &__map {
            width: 100%;
            display: inline-block;
            height: 450px;
            background-color: $colorBlack;
            vertical-align: top;
        }
    }

    &__featured-list {
        padding: 60px 0;

        .dd-content-title {
            font-size: 22px;
            line-height: 36px;
            color: $colorBlack;
            border-bottom: 1px solid $colorBlack;
            margin-bottom: 40px;
            padding-bottom: 5px;
        }
    }


    &__full-row {
        margin-left: -15px;
        margin-right: -15px;
    }


    &__custom-text {
        p {
            font-size: 18px;
            color: $dark3;
        }
    }
}