
.l-footer {
    padding-top: 40px;
    background-color: $dark-blue1;
    color: $colorWhite;
    font-size: 14px;
    line-height: 22px;

    &__content {
        width: 100%;
        display: flex;

        @media screen and (max-width: $tablet-size - 1px) {
            flex-wrap: wrap;
            text-align: center;
        }
    }

    &__col {
        width: 100%;
        float: left;

        @media screen and (min-width: $tablet-size) {
            width: 50%;
            padding-right: 40px;
        }

        @media screen and (min-width: $middle-size) {
            width: 25%;
        }

        &--custom-menu {
            display: none;

            @media screen and (min-width: $middle-size) {
                display: block;
            }
        }

        .dd-title {
            margin: 0 0 5px 0;
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
            text-transform: uppercase;

            &--big {
                margin: 0 0 15px 0;
            }
        }

        p {
            font-size: 14px;

            @media screen and (min-width: $tablet-size) {
                font-size: 16px;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li ul {
                li {
                    &:before {
                        content: '-';
                        display: inline-block;
                    }
                }
            }
        }
    }

    .dd-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        @media screen and (min-width: $tablet-size) {
            margin-top: 0;
            justify-content: flex-end;
        }

        .dd-icon {
            margin: 0 5px;
            color: $colorWhite;
            font-size: 45px;
        }
    }

    &__copyright {
        margin-top: 40px;
        padding: 15px 0;
        text-align: center;
        font-size: 14px;

        @media screen and (min-width: $tablet-size) {
            font-size: 16px;
        }
    }


    &__phone {
        margin-top: 20px;

        @media screen and (min-width: $mobile-size) {
            display: none;
        }

        .dd-content {
            background-color: $green1;
            padding: 5px;
        }

        .m-button {
            margin: 0 auto;
            border-radius: 0;
            background-color: $green1 !important;
        }
    }
}