

.l-grid {
    &__top-banner, &__top-video-banner {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding: 70px 0;
        position: relative;
        margin-bottom: 50px;

        @media screen and (min-width: $mobile-size) {
            margin-bottom: 80px;
        }

        .dd-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($colorBlack, 0.6);
        }

        .dd-content {
            position: relative;
            z-index: 2;
        }

        .dd-title {
            color: $colorWhite;
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
            padding-bottom: 10px;

            @media screen and (min-width: $mobile-size) {
                font-size: 50px;
            }
        }

        .dd-breadcrumb {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            .dd-item {
                display: inline-block;
                position: relative;

                &:not(:first-child) {
                    margin-left: 5px;
                }
            }

            .dd-link {
                font-size: 14px;
                text-transform: uppercase;
                color: $colorWhite;

                &--home {
                    text-decoration: underline !important;
                }
            }
        }
    }

    &__load-more {
        margin: 20px 0 80px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }


    &__produtos {
        width: 100%;
        display: inline-block;

        @media screen and (max-width: $mobile-size - 1px) {
            margin-bottom: 60px;
        }

        &__title {
            padding: 0 15px;
            margin-bottom: 30px;
            font-weight: bold;
            text-align: center;
            font-size: 24px;

            @media screen and (min-width: $mobile-size) {
                font-size: 36px;
            }
        }

        &__list {
            width: 100%;
            display: inline-block;
            overflow: hidden;
            padding-top: 5px;

            .slick-track {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .l-grid__load-more {
            @media screen and (max-width: $mobile-size - 1px) {
                display: none;
            }
        }

        .m-card--produto {
            float: left;
            padding: 0 15px;
            width: 100%;
            margin-bottom: 30px;

            @media screen and (min-width: $mobile-size) {
                width: 50%;
            }

            @media screen and (min-width: $tablet-size) {
                width: 33.3333%;
            }

            @media screen and (min-width: $large-size) {
                width: 25%;
            }
        }
    }

    &__top-video-banner {
        padding: 0;

        .dd-content {
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            z-index: 99;

            @media screen and (min-width: $mobile-size) {
                top: 70px;
            }
        }

        .dd-overlay {
            z-index: 9;
        }

        .plyr--video {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    &__about {
        padding: 20px 0 60px;
        text-align: center;

        &__content {
            width: 100%;
            display: inline-block;
            max-width: 980px;
            margin: 0 auto;
            line-height: 22px;
            font-size: 16px;

            @media screen and (min-width: $mobile-size) {
                line-height: 29px;
                font-size: 18px;
            }
        }
    }

    &__contact, &__orcamento {
        padding-bottom: 60px;

        &__content {
            width: 100%;
            display: inline-block;
        }

        .dd-title {
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
        }

        .dd-subtitle {
            margin-top: 20px;
            font-size: 16px;
            line-height: 33px;
            font-weight: bold;
        }

        .dd-text {
            font-size: 16px;
            line-height: 26px;

            a {
                color: inherit;
            }
        }

        .dd-btn {
            display: inline-block;
            border-radius: 40px;
            color: $colorWhite;
            line-height: 40px;
            width: 190px;
            text-align: center;
            font-weight: bold;

            &--phone {
                margin-top: 20px;
                background-color: $blue2;

                .dd-icon {
                    font-size: 18px;
                }
            }

            &--whatsapp {
                margin-top: 15px;
                background-color: $dark-green1;

                .dd-icon {
                    font-size: 20px;
                }
            }

            .dd-icon {
                display: inline-block;
                vertical-align: text-bottom;
            }

            span {
                vertical-align: middle;
                margin-left: 10px;
                display: inline-block;
            }
        }

        .dd-col {
            width: 100%;
            float: left;

            @media screen and (min-width: $middle-size) {
                width: 50%;
            }

            &--content {
                padding-right: 100px;

                @media screen and (max-width: $middle-size - 1px) {
                    padding-right: 0;
                    margin-bottom: 40px;
                }
            }
        }

        .dd-container-title {
            font-weight: normal;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 26px;

            @media screen and (min-width: $mobile-size) {
                font-size: 36px;
            }

            strong {
                @media screen and (max-width: 700px) {
                    display: block;
                    width: 100%;
                }
            }

            span {
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
        }

        .dd-container-text {
            color: $dark2;
            margin-bottom: 50px;
        }

        .dd-success-msg {
            width: 100%;
            max-width: 460px;
            text-align: center;

            .dd-description {
                margin-bottom: 10px;
            }

            .dd-img {
                margin-bottom: 20px;
            }
        }
    }
    
    &__orcamento {
        padding-top: 100px;

        .dd-title {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .dd-text {
            font-size: 16px;
            line-height: 22px;
        }

        .dd-product-info {
            width: 100%;
            display: inline-block;

            .dd-img {
                width: 180px;
                height: 160px;
                object-fit: contain;
                float: left;

                @media screen and (max-width: $mobile-size - 1px) {
                    display: none;
                }
            }

            .dd-content {
                float: left;
                width: 100%;

                @media screen and (min-width: $mobile-size) {
                    padding-left: 20px;
                    width: calc(100% - 180px);
                }
            }

            .dd-title {
                margin-top: 5px;
                margin-bottom: 15px;
                text-transform: unset;
            }

            .dd-form {
                width: 100%;
                display: inline-block;
                margin-top: 30px;
            }
        }
    }

    &__featured-list {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        padding-top: 5px;

        .slick-track {
            display: flex;
        }

        .m-card--produto, .m-card--link-page {
            float: left;
            padding: 0 15px;
            width: 295px;
            margin-bottom: 30px;
        }
    }

    &__services {
        &__list {
            width: 100%;
            display: inline-block;
        }

        .m-card--service {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;

            .dd-col--thumb {
                padding-left: 110px;
            }

            &:nth-child(even) {
                flex-direction: row-reverse;

                .dd-col--thumb {
                    padding-left: 0;
                    padding-right: 110px;
                }
            }
        }
    }

    &__single {
        &__content, &__advantage {
            width: 100%;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 50px;

            @media screen and (min-width: $mobile-size) {
                margin-bottom: 100px;
            }
        }

        &__content .dd-col--thumb {
            padding-right: 40px;
        }

        &__advantage {
            @media screen and (max-width: $mobile-size - 1px) {
                margin-bottom: 0;
            }

            .dd-col--thumb {
                padding-left: 40px;

                @media screen and (max-width: $middle-size - 1px) {
                    display: none;
                }
            }
        }

        .dd-title {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;

            @media screen and (min-width: $mobile-size) {
                font-size: 36px;
                line-height: 40px;
            }
        }

        .dd-text {
            font-size: 16px;
            line-height: 22px;

            @media screen and (min-width: $mobile-size) {
                font-size: 18px;
                line-height: 25px;
            }
        }

        .m-button {
            margin-top: 20px;
        }

        .dd-col {
            width: 100%;
            text-align: center;
            float: left;

            @media screen and (min-width: $middle-size) {
                width: 50%;
                text-align: left;
            }

            @media screen and (max-width: $middle-size - 1px) {
                padding: 0;
            }

            &--thumb img {
                @media screen and (max-width: $mobile-size - 1px) {
                    max-width: 250px;
                }

                @media screen and (max-width: $middle-size - 1px) {
                    margin-top: 30px;
                }
            }
        }
    }


    &__custom-products {
        padding-bottom: 80px;

        .dd-container-title {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            margin-bottom: 40px;

            @media screen and (min-width: $mobile-size) {
                font-size: 36px;
            }
        }

        .dd-list {
            width: 100%;
            overflow: hidden;
            padding-top: 5px;
            display: inline-block;
            
            .slick-track {
                display: flex;
                flex-wrap: wrap;
            }
        }

        .m-card {
            width: 295px;
            float: left;
            padding: 0 15px;
            margin-bottom: 30px;
        }
    }


    &__produtos-slide {
        padding-bottom: 80px;
        overflow: hidden;

        .dd-container-title {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            margin-bottom: 40px;

            @media screen and (min-width: $mobile-size) {
                font-size: 36px;
            }
        }

        .dd-list {
            width: 100%;
            display: inline-block;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }

        .slick-dots {
            position: relative;
            bottom: unset;
            display: inline-block;
            margin-top: 40px;

            li {
                &.slick-active button {
                    background-color: $blue3;
                }
                
                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 50px;
                    background-color: $light1;

                    &:before {
                        display: none !important;
                    }
                }
            }
        }
        

        .m-card {
            width: 180px;
            padding: 0 10px;
            float: left;
        }
    }


    &__blog {
        width: 100%;
        float: left;

        @media screen and (min-width: $tablet-size) {
            max-width: calc(100% - 280px);
        }

        @media screen and (min-width: $middle-size) {
            max-width: calc(100% - 380px);
        }

        .m-card--blog-list {
            &:not(:last-of-type) {
                margin-bottom: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid $light1;
            }
        }

        .dd-content-list {
            margin-bottom: 40px;
        }


        &--single {
            @media screen and (max-width: $mobile-size - 1px) {
                padding-bottom: 60px;
            }

            .dd-breadcrumb {
                margin-top: 5px;
                margin-bottom: 40px;

                ul {
                    list-style: none;
                    display: flex;

                    li {
                        margin: 0 2px;

                        a {
                            text-decoration: underline;
                            color: $dark1;

                            @media screen and (max-width: $mobile-size - 1px) {
                                font-size: 14px;
                            }
                        }

                        &:last-child {
                            a {
                                text-decoration: none;
                                color: $light5;
                            }
                        }
                    }
                }
            }

            .dd-img {
                width: 100%;
                height: 220px;
                object-fit: cover;
                margin-bottom: 20px;

                @media screen and (min-width: $mobile-size) {
                    height: 320px;
                }
            }
            
            .dd-title {
                font-size: 24px;
                line-height: 28px;

                @media screen and (min-width: $mobile-size) {
                    font-size: 36px;
                    line-height: 49px;
                }
            }

            .dd-info {
                width: 100%;
                display: inline-block;
                margin-bottom: 35px;
            }
            
            .dd-label {
                font-size: 12px;
                color: $dark1;
            }
    
            .dd-content {
                width: calc(100% - 185px);
                float: left;
            }
    
            .dd-share {
                width: 185px;
                float: right;
                display: flex;
                align-items: center;
                
                ul {
                    list-style: none;
                    display: flex;
                    margin-left: 20px;
                    align-items: baseline;
    
                    li:first-child a {
                        font-size: 20px;
                    }
    
                    li:not(:last-child) {
                        margin-right: 15px;
                    }
    
                    a {
                        color: $light5;
                        display: flex;
                    }
                }
            }
    
            .dd-date {
                float: left;
            }
    
            .dd-categories {
                float: left;
                padding: 0 20px;

                @media screen and (max-width: $mobile-size - 1px) {
                    display: none;
                }
            }
    
            .dd-text {
                font-weight: 600;
            }
    
            .dd-list span {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}