

.l-header {
    position: relative;

    &__row {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        &--bottom {
            background-color: $light3;
            height: 50px;
            display: none;
            position: relative;

            @media screen and (min-width: $tablet-size) {
                display: block;
            }

            .l-container__wrapper {
                position: relative;
                height: 100%;
            }
        }

        &--search {
            display: none;
            background-color: rgba($colorBlack, 0.7);
            height: 90px;
            position: absolute;
            left: 0;
            width: 100%;
            top: 100%;
            z-index: 9;

            form {
                display: flex;
                align-items: center;
                margin-top: 22px;
            }

            .dd-input {
                width: calc(100% - 200px);
                border-bottom: 1px solid $colorWhite;
                margin-right: 20px;
                height: 48px;
                color: $colorWhite;
                @include placeholder($colorWhite);
                outline: none !important;
            }
        }
    }
    
    .dd-logo {
        max-width: 145px;

        @media screen and (min-width: $tablet-size) {
            max-width: 100%;
        }
    }

    .dd-menu-btn {
        display: inline-block;
        width: 40px;
        padding: 5px;
        outline: none !important;

        span {
            display: block;
            width: 100%;
            border-radius: 9px;
            background-color: $dark2;
            height: 4px;
            float: left;
            margin: 2px 0;
        }

        @media screen and (min-width: $tablet-size) {
            display: none !important;
        }
    }

    .dd-col {
        &--left {
            display: flex;
            align-items: center;
            float: left;
            width: 100%;
            justify-content: space-between;

            @media screen and (min-width: $tablet-size) {
                width: auto;
                justify-content: unset;
            }
        }

        &--right {
            float: right;
            margin: 14px 0;
            width: 220px;
            display: none;

            @media screen and (min-width: $tablet-size) {
                display: block;
            }

            @media screen and (min-width: $middle-size) {
                width: 240px;
            }
        }
    }

    .dd-languages {
        margin-left: 20px;
        border-left: 1px solid $light1;
        padding-left: 30px;
        display: none;

            @media screen and (min-width: $tablet-size) {
                display: block;
            }

        a {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    &__navigation {
        height: 50px;
        float: left;

        > ul {
            display: flex;
            align-items: center;
            list-style: none;
            height: 100%;
            padding: 0;
            margin: 0;

            > li {
                &:not(:last-of-type) {
                    margin-right: 45px;
                }

                &.is-open {
                    > .sub-menu {
                        display: flex;
                    }
                }

                > a {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $dark-blue1;
                    font-size: 14px;

                    @media screen and (min-width: $middle-size) {
                        font-size: 16px;
                    }
                }
            }
        }

        .sub-menu {
            position: absolute;
            flex-wrap: wrap;
            z-index: 9;
            width: 100%;
            left: 0;
            top: 100%;
            background-color: $colorWhite;
            list-style: none;
            display: none;

            &:before {
                @media screen and (min-width: $tablet-size) {
                    content: '';
                    display: inline-block;
                    background-color: $colorWhite;
                    position: absolute;
                    left: -100%;
                    right: -100%;
                    height: 100%;
                    z-index: -1;
                }
            }

            li {
                padding: 30px 0 10px;
                width: 100%;
                max-width: 430px;

                &:nth-child(even) {
                    margin-left: 50px;
                }

                a {
                    display: inline-block;
                }

                img {
                    max-width: 145px;
                    float: left;
                    margin-right: 15px;
                }

                .dd-content {
                    float: left;
                    width: calc(100% - 160px);
                }

                .dd-title {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $dark-blue1;
                    margin-bottom: 10px;
                }

                .dd-description {
                    font-size: 12px;
                    color: $colorBlack;
                }
            }
        }
    }

    &__search-btn {
        line-height: 50px;
        float: right;

        span {
            font-size: 14px;
            color: $dark-blue1;
            display: inline-block;
            vertical-align: middle;
        }

        .dd-icon {
            font-size: 25px;
            display: inline-block;
            color: $dark-blue1;
            vertical-align: middle;
            margin-left: 5px;
        }
    }


    &__menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($colorBlack, 0.6);
        z-index: 9;
        display: none;
    }

    &__menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: $colorWhite;
        z-index: 99;
        width: 265px;
        padding-top: 55px;
        display: none;

        .dd-btn-close {
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            position: absolute;
            top: 15px;
            right: 15px;

            .dd-icon {
                font-size: 22px;
                margin-left: 5px;
            }
        }

        .dd-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: $light3;

            .dd-languages {
                margin: 0;
                padding: 0;
                border: none;
                display: block;
                width: 82px;
                float: right;

                a:last-of-type {
                    margin-right: 0;   
                }
            }

            .dd-label {
                width: 75px;
                float: left;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        .dd-footer {
            border-top: 1px solid $light1;
            padding-top: 10px;

            .m-button--custom {
                color: $blue1;
                border-radius: none;
                background-color: $colorWhite;
                max-width: 100%;
            }
        }

        nav ul {
            list-style: none;
            padding: 0;

            a {
                width: 100%;
                display: inline-block;
                padding: 15px 20px;
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                color: $colorBlack;
                position: relative;
                
                &.menu-item-has-children {
                    padding: 15px 42px 15px 20px;

                    &:before {
                        content: "\e911";
                        font-family: 'icomoon';
                        display: inline-block;
                        position: absolute;
                        right: 20px;
                        font-size: 10px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        height: 10px;
                    }
                }
            }

            li.is-open {
                & > .menu-item-has-children {
                    color: $blue1;

                    &:before {
                        transform: rotateX(180deg);
                    }
                }

                & > .sub-menu {
                    display: block;
                }
            }
        }

        .sub-menu {
            background-color: $blue1;
            display: none;

            a {
                font-weight: normal;
                color: $colorWhite;
                text-transform: none;
            }
        }
    }
}


.menu-mode {
    .l-header__menu-mobile, .l-header__menu-overlay {
        display: block !important;
    }
}